<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="exceptionHandling" type="EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, EnterpriseLibrary.ExceptionHandling" />
	</configSections>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Wrap Policy">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
						<exceptionHandlers>
							<add name="WrapHandler" type="EnterpriseLibrary.ExceptionHandling.WrapHandler, EnterpriseLibrary.ExceptionHandling" exceptionMessage="Test Message" wrapExceptionType="System.ApplicationException, mscorlib"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="Replace Policy">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
						<exceptionHandlers>
							<add name="ReplaceHandler" type="EnterpriseLibrary.ExceptionHandling.ReplaceHandler, EnterpriseLibrary.ExceptionHandling" exceptionMessage="Test Message" replaceExceptionType="System.ApplicationException, mscorlib"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="Custom Policy">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
						<exceptionHandlers>
							<add name="CustomHandler" type="EnterpriseLibrary.ExceptionHandling.Tests.MockExceptionHandler, EnterpriseLibrary.ExceptionHandling.Tests" Age="32" Color="Red"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
      <add name="ThrowNewExceptionPolicy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="ReplaceHandler" type="EnterpriseLibrary.ExceptionHandling.ReplaceHandler, EnterpriseLibrary.ExceptionHandling" exceptionMessage="Test Message" replaceExceptionType="System.ApplicationException, mscorlib"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LocalizedWrapPolicy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="WrapHandler" type="EnterpriseLibrary.ExceptionHandling.WrapHandler, EnterpriseLibrary.ExceptionHandling" exceptionMessageResourceName="ExceptionMessage" exceptionMessageResourceType="EnterpriseLibrary.ExceptionHandling.Tests.Properties.Resources, EnterpriseLibrary.ExceptionHandling.Tests"  wrapExceptionType="System.ApplicationException, mscorlib"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="LocalizedReplacePolicy">
        <exceptionTypes>
          <add name="Exception" type="System.Exception, mscorlib" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="ReplaceHandler" type="EnterpriseLibrary.ExceptionHandling.ReplaceHandler, EnterpriseLibrary.ExceptionHandling" exceptionMessageResourceName="ExceptionMessage" exceptionMessageResourceType="EnterpriseLibrary.ExceptionHandling.Tests.Properties.Resources, EnterpriseLibrary.ExceptionHandling.Tests"  replaceExceptionType="System.ApplicationException, mscorlib"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>

    </exceptionPolicies>
	</exceptionHandling>
</configuration>