<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="wrapHandlerWithoutName" type="EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, EnterpriseLibrary.ExceptionHandling" />
    <section name="wrapHandlerWithEmptyWrapExceptionType" type="EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, EnterpriseLibrary.ExceptionHandling" />
    <section name="replaceHandlerWithoutName" type="EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, EnterpriseLibrary.ExceptionHandling" />
    <section name="replaceHandlerWithEmptyReplaceExceptionType" type="EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, EnterpriseLibrary.ExceptionHandling" />
    <section name="noExceptionHandlers" type="EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, EnterpriseLibrary.ExceptionHandling" />
  </configSections>

  <wrapHandlerWithoutName>
    <exceptionPolicies>
      <add name="Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name=""
                   type="EnterpriseLibrary.ExceptionHandling.WrapHandler, EnterpriseLibrary.ExceptionHandling"
                   exceptionMessageResourceType="System.Diagnostics.TraceLogRetentionOption, System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                   exceptionMessageResourceName="ValidateHandler"
                   wrapExceptionType="System.Security.SecurityException, mscorlib" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </wrapHandlerWithoutName>

  <wrapHandlerWithEmptyWrapExceptionType>
    <exceptionPolicies>
      <add name="Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Test"
                   type="EnterpriseLibrary.ExceptionHandling.WrapHandler, EnterpriseLibrary.ExceptionHandling"
                   exceptionMessageResourceType="System.Diagnostics.TraceLogRetentionOption, System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                   exceptionMessageResourceName="ValidateHandler"
                   wrapExceptionType="" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </wrapHandlerWithEmptyWrapExceptionType>

  <replaceHandlerWithoutName>
    <exceptionPolicies>
      <add name="Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="" 
                   type="EnterpriseLibrary.ExceptionHandling.ReplaceHandler, EnterpriseLibrary.ExceptionHandling"
                   replaceExceptionType="System.AccessViolationException, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </replaceHandlerWithoutName>

  <replaceHandlerWithEmptyReplaceExceptionType>
    <exceptionPolicies>
      <add name="Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Replace Handler" 
                   type="EnterpriseLibrary.ExceptionHandling.ReplaceHandler, EnterpriseLibrary.ExceptionHandling"
                   replaceExceptionType="" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </replaceHandlerWithEmptyReplaceExceptionType>

  <noExceptionHandlers>
    <exceptionPolicies>
      <add name="Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </noExceptionHandlers>

</configuration>

