<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="faultContractHandlerWithoutName" type="EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, EnterpriseLibrary.ExceptionHandling" />
    <section name="faultContractHandlerWithEmptyFaultContractType" type="EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, EnterpriseLibrary.ExceptionHandling" />
  </configSections>

  <faultContractHandlerWithoutName>
    <exceptionPolicies>
      <add name="Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name=""
                   type="EnterpriseLibrary.ExceptionHandling.WCF.FaultContractExceptionHandler, EnterpriseLibrary.ExceptionHandling.WCF"
                   faultContractType="EnterpriseLibrary.Common.ReplacementToken, EnterpriseLibrary.Common"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </faultContractHandlerWithoutName>

  <faultContractHandlerWithEmptyFaultContractType>
    <exceptionPolicies>
      <add name="Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="ThrowNewException">
            <exceptionHandlers>
              <add name="Fault Contract Exception Handler"
                   type="EnterpriseLibrary.ExceptionHandling.WCF.FaultContractExceptionHandler, EnterpriseLibrary.ExceptionHandling.WCF"
                   faultContractType=""/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </faultContractHandlerWithEmptyFaultContractType>

</configuration>

